/* ===== GAME ELEMENT ANIMATIONS ===== */
.ufo_move {
  animation-name: ufo;
  animation-duration: 6s;
  animation-delay: 8s;
  animation-timing-function: cubic-bezier(0.5, 1.31, 0.49, -0.22);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes ufo {
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(500%, 750%);
  }
}

.fighter_jet_move {
    animation-name: fighter_jet;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-timing-function: cubic-bezier(0.13, 0.79, 0.71, 0.24);
    animation-iteration-count: infinite;
}

@keyframes fighter_jet {
    0% {
        transform: translate(0%, -400%);
    }
    100% {
        transform: translate(1500%, -200%);
    }
} 

.fighter_jet_move_2 {
    animation-name: fighter_jet_2;
    animation-delay: 2s;
    animation-duration: 4.5s;
    animation-timing-function: cubic-bezier(0.13, 0.79, 0.71, 0.24);
    animation-iteration-count: infinite;
}

@keyframes fighter_jet_2 {
    0% {
        transform: scaleX(-1) translate(0%, 0%);
    }
    100% {
        transform: scaleX(-1) translate(1355%, 100%);
    }
} 

.fighter_jet_move_3 {
    animation-name: fighter_jet_3;
    animation-duration: 3.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fighter_jet_3 {
    0% {
        transform: rotate(10deg) translate(0%, 100%);
    }

    50% {
        transform: translate(800%, 300%);
    }

    100% {
        transform: rotate(-35deg) translate(1300%, 1500%);
    }
}

.weather_balloon_move {
    animation-name: weather_balloon;
    animation-duration: 8s;
    animation-delay: 4s;
    animation-timing-function: cubic-bezier(0.18, 0.82, 0.67, 0.11);
    animation-iteration-count: infinite;
}

@keyframes weather_balloon {
    0% {
        transform: translate(2300%, 100%);
        
    }
    100% {
        transform: translate(500%, -450%);
    }
}

.airplane_move {
    animation-name: airplane;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes airplane {
    0% {
        transform: translate(0%, -550%);
    }
    100% {
        transform: translate(1000%, -550%);
    }
}

.hot_air_balloon_move {
    animation-name: hot_air_balloon;
    animation-duration: 20s;
    animation-delay: 4s;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

@keyframes hot_air_balloon {
    0% {
        transform: translate(0%, -100%);
    }
    100% {
        transform: translate(2300%, -100%);
    }
}

.aa_gun_fire {
    animation-name: aa_gun;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1; /* set to 1 for single shot */
    animation-fill-mode: forwards;
}

@keyframes aa_gun {
    0% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* ===== EXPLOSION & ZOOM_OUT ANIMATIONS ===== */
.explosion {
  animation-name: explosion;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes explosion {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes zoom_out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.paused {
  animation-play-state: paused;
}

/* ===== UI ANIMATIONS ===== */

.timer_bar_countdown {
  animation-name: timer_bar_countdown;
  animation-duration: 60s;
  animation-timing-function: steps(60);
  animation-iteration-count: 1;
  animation-direction: reverse;
  transform-origin: right;
  animation-fill-mode: forwards;
}

@keyframes timer_bar_countdown {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 1);
  }
}

.glow {
  animation-name: glow;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0px 0px 0px rgb(0, 255, 0));
  }

  100% {
    filter: drop-shadow(4px 4px 10px rgb(0, 255, 0));
  }
}

.glow_red {
  animation-name: glow_red;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes glow_red {
  0% {
    filter: drop-shadow(0px 0px 0px red);
  }

  100% {
    filter: drop-shadow(4px 4px 10px red);
  }
}


