/* ===== IMPORTS ===== */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

/* ===== VARIABLES ===== */
:root {
    --font-family: 'JetBrains Mono', monospace;
    --font-size-headers: 2.4vw;
    --font-size-messages: 1.25vw;
    --font-size-buttons: 1.3vw;
    --font-weight: 300;
    --font-color: #fff;
    --font-color-dark: #000;
    --text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.5);
    --background-color: rgba(255, 255, 255, 0.30);
    --border: 1px solid rgba(255, 255, 255, 0.3);
    --box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --timer-color-normal: #fff;
    --timer-color-warning: rgba(255, 0, 0, 0.7);
}

/* ===== GENERAL STYLING ===== */
body {
    width: 100vw;
    height: 56.25vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

#screen {
    display: grid;
    grid-template: 100% / 100%;
    aspect-ratio: 16/9;
}

.hidden {
    display: none;
}

img {
    width: 100%;
}

.sprite_width {
  width: 100%;
}

.ui_screen {
    height: 40vw;
    width: 50vw;
    z-index: 200;
    top: 15%;
    left: 25%;
    background: var(--background-color);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(5.6px);
    border: var(--border);
    position: absolute;
}

.ui_header{
    position: relative;
    font-family: var(--font-family);
    font-size: var(--font-size-headers);
    text-transform: uppercase;
    text-align: center;
    color: var(--font-color-dark);
}

.ui_message {
    position: relative;
    font-family: var(--font-family);
    font-size: var(--font-size-messages);
    text-align: left;
    line-height: 1.2;
    padding: 0 3em;
    margin: 0;
    color: var(--font-color-dark);
}

.ui_message > p {
    margin: 0.5em 0;
}

.ui_buttons {
    position: relative;
    width: 100%;
    margin: 1vw 0 0 0;
}

.ui_buttons > button {
    background: rgb(105,105,105);
    background: linear-gradient(145deg, rgb(40, 40, 40) 0%, rgb(100, 100, 100) 50%, rgb(185, 185, 185) 100%);
    border-radius: 1em;
    border: none;
    color: var(--font-color);
    text-shadow: var(--text-shadow);
    font-family: var(--font-family);
    font-size: var(--font-size-buttons);
    font-weight: 600;
    padding: 1vw;
    margin: 0.5vw 0 0 12vw;
    min-width: 50%;
    cursor: pointer;   
}

/* ===== GAME SECTION STYLING ===== */
#game {
    display: grid;
    grid-template: 100% / 100%;
    position: relative;
}

 #game_background {
    position: absolute;
    left: 0;
    background-image: url(../img/background/game_bg.svg);
    background-size: cover;
    background-position-x: -0.5vw;
    width: 100vw;
    height: 56.6vw;
    z-index: 50;
}